.url-container {
    input[type="text"] {
        height: 83px;
    }
    .btn-dark-bule {
        height: 83px;
        background-color: #00466e;
        color: #fff;
        font-size: 16px;
        width: 100%;
    }
}